<!--<!DOCTYPE html>-->
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <script src="../controllers/new-controller.js"></script>
</head>
<body ng-app="ProductApp">
   
    <div ng-controller="ProductController" >
    <table ng-repeat="product in products">
        <tr >
           <td>{{pproduct.Id}}</td>
            <td>{{pproduct.Name}}</td>
            <td>{{pproduct.Category}}</td>
            <td>{{pproduct.Price}}</td>
        </tr>
    </table>
    </div>
</body>
</html>
